.modal-backdrop{
        position:static;
        top: -5px ;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
} 
a {
    color: #34495e!important;
    text-decoration: none!important;
}
a:hover{
    color: #38a7bb!important;
    text-decoration: none!important;
}

