.modal-backdrop{
        position:static;
        top: -5px ;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
} 
a {
    color: #34495e!important;
    text-decoration: none!important;
}
.read-more a {
    color: #38a7bb!important;
}
a:focus, a:hover{
    color: #38a7bb!important;
    text-decoration: none!important;
}
.container {
    margin: 0 auto;
    width: 900px;
}

@media screen and (max-width: 900px){
    .container {
        width: 100%;
        -webkit-box-shadow: -1px -5px 5px #cacaca;
        box-shadow: -1px -5px 5px #cacaca;
    }
}

.pagination {
    display: inline;
}
