body {
    font-family: Microsoft Yahei,arial !important;
    font-size: 16px !important;
}
a {
    color: #34495e!important;
    text-decoration: none!important;
}
a:hover{
    color: #38a7bb!important;
    text-decoration: none!important;
}

.modal-backdrop{z-index:0!important;}
